
body{
    background-color: midnightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: antiquewhite;
}

.already-done {
    text-decoration: line-through;
    background-color:darkorange;
    
}



.list_style {
    list-style: none;
}